@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a>
                        <span>Login</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Form Section Begin -->
    <!-- Register Section Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Login</h2>
                        <form id="account" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="group-input">
                                <label asp-for="Input.Email">Email address *</label>
                                <input asp-for="Input.Email" type="text">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="group-input">
                                <label asp-for="Input.Password">Password *</label>
                                <input asp-for="Input.Password" type="password">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="group-input gi-check">
                                <div class="gi-more">
                                    <label asp-for="Input.RememberMe">
                                        Remember Me?
                                        <input type="checkbox" asp-for="Input.RememberMe">
                                        <span class="checkmark"></span>
                                    </label>
                                    <a class="forget-pass" id="forgot-password" asp-page="./ForgotPassword">Forget your Password</a>
                                </div>
                            </div>
                            <button type="submit" class="site-btn login-btn">Sign In</button>
                        </form>
                        <div style="margin-top: 5px" class="group-input">
                            <div>
                                @{
                                    if ((Model.ExternalLogins?.Count ?? 0) > 0)
                                    {
                                        <hr />
                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <button class="btn btn-block btn-social btn-sm btn-@provider.Name.ToLower()" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                    <span class="fa fa-@provider.Name.ToLower()"></span> Sign in with @provider.Name
                                                </button>
                                            }
                                        </form>
                                        <hr />
                                    }
                                }
                            </div>
                        </div>
                   
                        <div class="switch-login">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="or-login">Or Create An Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Form Section End -->