@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a>
                    <span>Register</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Form Section Begin -->
<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Register</h2>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="group-input">
                            <label asp-for="Input.Email">Email address *</label>
                            <input type="text" asp-for="Input.Email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="group-input">
                            <label asp-for="Input.FirstName">First Name *</label>
                            <input type="text" asp-for="Input.FirstName">
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="group-input">
                            <label asp-for="Input.MiddleName">Middle Name</label>
                            <input type="text" asp-for="Input.MiddleName">
                            <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                        </div>
                        <div class="group-input">
                            <label asp-for="Input.LastName">Last Name *</label>
                            <input type="text" asp-for="Input.LastName">
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="group-input">
                            <label asp-for="Input.Password">Password *</label>
                            <input asp-for="Input.Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="group-input">
                            <label asp-for="Input.ConfirmPassword">Confirm Password *</label>
                            <input asp-for="Input.ConfirmPassword">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="site-btn register-btn">REGISTER</button>
                    </form>
                    <div style="margin-top: 5px" class="group-input">
                        <section>
                            <hr />
                            @{
                                if ((Model.ExternalLogins?.Count ?? 0) > 0)
                                {
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button class="btn btn-block btn-social btn-sm btn-@provider.Name.ToLower()" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                <span class="fa fa-@provider.Name.ToLower()"></span> Register with @provider.Name
                                            </button>
                                        }
                                    </form>
                                }
                            }
                            <hr />
                        </section>
                    </div>
                    <div class="switch-login">
                        <a asp-page="login" class="or-login">Or Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
